<a href="https://colab.research.google.com/github/KUNAL666-CODE/Capstone-project-Airbnb-EDA/blob/main/Airbnb_EDA_Kunal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Project Name** 

AirBnb Exploratory data analysis


Contribution:Individual

Team member name: **Kunal paunikar**

#**Project Summary**

Since 2008 guests and hosts have used Airbnb to expand on travelling possibilities and present a more unique,personalised way of experiencing the world.Today,Airbnb became one of a kind service that is used and recognized by the whole world.Data Analysis on millions of listings provided through airbnb is a crucial factor for the company.These millions of listings generate a lot of data -data that can be analysed and used for security,business decisions ,understanding of customers and providers behaviour and performance on the platform,guiding marketing initiatives ,implementation of innovative additional services and much more.

This dataset has around 49000 observations in it with 16 columns and it is amix of categorical and numeric values.In this project weExplore and analyse the data to discover key understandings.

#**Github link** : https://github.com/KUNAL666-CODE/Capstone-project-Airbnb-EDA

#**Problem Statement**

We need to evaluate the present day trends for accomodation booking via Airbnb ,airbnb has been a revolutionary technology driven company providing travellers accomodation while travelling at their finger tips ,they can book any accomodation online and it also provides its customers various options to review their stay after they checkout and share their feedback on its app and website. Our aim is to evaluate the dataset provided and derive conclusion and try to identify various trends which would help to take better decisions in respect of expanding the business and learn about various security concerns if any.

**lets begin**

In [1]:
#mounting the drive to access the dataset

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#importing libraries needed in the project

import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Accessing the dataset

file_path="/content/drive/MyDrive/Airbnb NYC 2019.csv"  #assigning file path

airbnb_data_df=pd.read_csv(file_path) #creating a dataframe through the filepath

In [4]:
#having a look at the data

airbnb_data_df.info()  #info methid  prints information about the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [5]:
airbnb_data_df.describe()  #The describe() method returns description of the data in the DataFrame in terms of average,
                            #standard deviation and mean(for numerical values)

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

In [6]:
airbnb_data_df.head() #fetches the intial rows of the dataset

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0